.algorithm-container {
    padding: 32px;
    padding-top: 130px;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.08);
    padding: 8px;
    padding-left: 16px;
    padding-top: 0%;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  }
  .concept-card {
    padding-left: 2vh;
  }

  .algorithm-grid {
    display: grid;
    grid-template-columns: 250px minmax(0, 1fr) 300px;
    gap: 20px;
    align-items: stretch;
  }

  .pseudocode-card {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }

  .pseudocode-card pre {
    font-size: 0.95rem;
    line-height: 1.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding: 8px 0;
  }

  .tooltip {
    position: relative;
    cursor: help;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    transition: color 0.3s ease;
  }

  .tooltip:hover {
    color: #4da6ff;
  }

  .tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0%;
    bottom: 140%;
    background: rgba(71, 77, 86, 0.95);
    color: #e5e7eb;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 0.8rem;
    width: max-content;
    max-width: 215px;
    white-space: normal;
    z-index: 1000;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.45), inset 0 0 12px rgba(77, 166, 255, 0.25);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    animation: fadeIn2 0.3s ease forwards;
  }
  
  .use-cases-card {
    grid-column: 1;
  }
  .card-stack {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .visualizer-wrapper {
    grid-column: 2;
    grid-row: 1;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 15px;
    min-height: 400px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .visualizer-wrapper canvas,
  .visualizer-wrapper > div {
    width: 100%;
    max-height: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
  }

  @keyframes fadeIn2 {
    from { opacity: 0; transform: translate(0, -10px); }
    to { opacity: 1; transform: translate(0, 0); }
  }

  @media (max-width: 1100px) {
    .algorithm-grid {
        grid-template-columns: 1fr;
    }
    .card-stack {
        flex-direction: column;
    }
  }